{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}   
     <div>
        <h1>Search For a Student</h1>
    </div>
    <div>
        <form>
            <input name='S'>
        </form>
        {% if results %}
        Found the following items:
        <table border="1" style="width:100%">
            <tr>
            <td><strong>Student ID</strong></td>
            <td><strong>Name</strong></td>
            <td><strong>Age</strong></td>
            <td><strong>Sex</strong></td>
            <td><strong>Marks</strong></td>
            </tr>
            {% for student in results %}
                <tr>
                <td>{{ student.studid }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.sex }}</td>
                <td>{{ student.marks }}</td>
                </tr>
            {% endfor %}
        {% else %}
           <strong>No names found</strong>
        {% endif %}
    </div>
{% endblock %}

